html {
  background: url(../images/clean_textile.png);
  margin: 0;
  padding: 0 1em 1em;
}

body {
  -webkit-font-smoothing: antialiased;
  font: 16px helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.4em;
  color: #333333;
  border: none;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 900px;
  text-align: left;
  color: black;
}

img {
  max-width: 100%;
}

@media screen {
  #wrapper {
    padding: 9px;
    background: #f8f8f8;
    border: 1px solid #e9e9e9;
  }
}
h1 {
  font-size: 280%;
  margin: 0;
  padding: 0.25em 0 0.92em;
  border-top: none;
}
h1.active {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  text-shadow: 1px 1px 0px white, 2px 2px 0px #bada55, 3px 3px 0px #bada55, 4px 4px 0px #bada55, 5px 5px 0px #bada55, 6px 6px 0px #bada55, 7px 7px 0px #97ba28;
}
@media only screen and (min-width: 640px) {
  h1 {
    padding-bottom: 0;
    font-size: 425%;
    -webkit-transform-origin: 100% 100% 50%;
    -moz-transform-origin: 100% 100% 50%;
    -ms-transform-origin: 100% 100% 50%;
    -o-transform-origin: 100% 100% 50%;
    transform-origin: 100% 100% 50%;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
  }
}
@media only screen and (min-width: 900px) {
  h1 {
    float: left;
    width: 57%;
  }
}

h2 {
  font-size: 200%;
  margin-top: 1.5em;
}

h3 {
  font-size: 150%;
  margin-top: 1.5em;
  border-top: 4px solid rgba(0, 0, 0, 0.07);
  padding-top: 0.5em;
}

p {
  margin: 1em 0;
  line-height: 1.5em;
}

pre, code {
  font: 12px "Bitstream Vera Sans Mono", "Courier", monospace;
}

pre {
  -webkit-box-shadow: rgba(0, 0, 0, 0.066) 0px 1px 2px 0px inset;
  background-color: #eeeeee;
  border: #dddddd 1px solid;
  color: #444444;
  display: block;
  margin: 12px 0;
  overflow: auto;
  padding: 5px;
  white-space: pre;
  max-width: 100%;
  overflow: auto;
}

code {
  background-color: ghostwhite;
  color: #444444;
  padding: 0 0.2em;
  border: 1px solid #dedede;
}

pre code {
  padding: 0;
  font-size: 12px;
  background-color: #eeeeee;
  border: none;
  overflow: visible;
}

a {
  border-bottom: 1px solid transparent;
  color: #86a524;
  text-decoration: none;
  -webkit-transition: background-color 500ms, border-bottom-color 500ms, color 500ms;
  -moz-transition: background-color 500ms, border-bottom-color 500ms, color 500ms;
  -o-transition: background-color 500ms, border-bottom-color 500ms, color 500ms;
  transition: background-color 500ms, border-bottom-color 500ms, color 500ms;
}
a:hover {
  background-color: #dceca9;
  border-bottom-color: #bada55;
  color: #647b1b;
}
a code {
  color: #bada55;
  text-decoration: none;
}

table td {
  border-bottom: 1px solid #dddddd;
  padding: 0.2em 1em;
}

.shadow {
  -webkit-box-shadow: 0 5px 15px black;
  -moz-box-shadow: 0 5px 15px black;
  box-shadow: 0 5px 15px black;
}

.c {
  color: #999988;
  font-style: italic;
}

.err {
  color: #a61717;
  background-color: #e3d2d2;
}

.k, .o {
  font-weight: bold;
}

.cm {
  color: #999988;
  font-style: italic;
}

.cp {
  color: #999999;
  font-weight: bold;
}

.c1 {
  color: #999988;
  font-style: italic;
}

.cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

.gd {
  color: black;
  background-color: #ffdddd;
}
.gd .x {
  color: black;
  background-color: #ffaaaa;
}

.ge {
  font-style: italic;
}

.gr {
  color: #aa0000;
}

.gh {
  color: #999999;
}

.gi {
  color: black;
  background-color: #ddffdd;
}
.gi .x {
  color: black;
  background-color: #aaffaa;
}

.go {
  color: #888888;
}

.gp {
  color: #555555;
}

.gs {
  font-weight: bold;
}

.gu {
  color: purple;
  font-weight: bold;
}

.gt {
  color: #aa0000;
}

.kc, .kd, .kn, .kp, .kr {
  font-weight: bold;
}

.kt {
  color: #445588;
  font-weight: bold;
}

.m {
  color: #009999;
}

.s {
  color: #dd1144;
}

.na {
  color: teal;
}

.nb {
  color: #0086b3;
}

.nc {
  color: #445588;
  font-weight: bold;
}

.no {
  color: teal;
}

.ni {
  color: purple;
}

.ne, .nf {
  color: #990000;
  font-weight: bold;
}

.nn {
  color: #555555;
}

.nt {
  color: navy;
}

.nv {
  color: teal;
}

.ow {
  font-weight: bold;
}

.w {
  color: #bbbbbb;
}

.mf, .mh, .mi, .mo {
  color: #009999;
}

.sb, .sc, .sd, .s2, .se, .sh, .si, .sx {
  color: #dd1144;
}

.sr {
  color: #009926;
}

.s1 {
  color: #dd1144;
}

.ss {
  color: #990073;
}

.bp {
  color: #999999;
}

.vc, .vg, .vi {
  color: teal;
}

.il {
  color: #009999;
}

.poetry pre {
  font-family: Georgia, Garamond, serif;
  font-style: italic;
  font-size: 110%;
  line-height: 1.6em;
  display: block;
  margin-left: 1em;
}
.poetry pre code {
  font-family: Georgia, Garamond, serif;
}

sup, sub, a.footnote {
  font-size: 1.4ex;
  height: 0;
  line-height: 1;
  vertical-align: super;
  position: relative;
}

sub {
  vertical-align: sub;
  top: -1px;
}

@media print {
  body {
    background: white;
  }

  img, pre, blockquote, table, figure {
    page-break-inside: avoid;
  }

  .footnotes {
    page-break-before: always;
  }

  #wrapper {
    background: white;
    border: none;
  }

  code {
    background-color: white;
    color: #444444 !important;
    padding: 0 0.2em;
    border: 1px solid #dedede;
  }

  pre {
    background: white;
  }
  pre code {
    background-color: white !important;
    overflow: visible;
  }
}
@media only screen and (min-width: 900px) {
  .level2 {
    margin-bottom: 4em;
  }
}

@media only screen and (min-width: 900px) {
  .level3 ul {
    -webkit-columns: 17em 3;
    -moz-columns: 17em 3;
    -ms-columns: 17em 3;
    -o-columns: 17em 3;
    columns: 17em 3;
  }
  .level3 ul li {
    display: block;
  }
  .level3 ul strong {
    display: block;
    position: relative;
  }
  .level3 ul strong:before {
    content: ">";
    display: block;
    height: 1em;
    width: 1em;
    position: absolute;
    top: 0;
    left: -2em;
    overflow: hidden;
  }
}

.footnotes {
  border-top: 4px solid rgba(0, 0, 0, 0.07);
}
.footnotes hr {
  display: none;
}

#front-end-web-developer {
  background: rgba(255, 255, 255, 0.8);
  border: 4px solid rgba(0, 0, 0, 0.07);
  border-top: none;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  margin-left: 0;
  padding: 1em 0 0.5em 2%;
  width: 21em;
}
@media only screen and (min-width: 900px) {
  #front-end-web-developer {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    float: right;
    margin-bottom: 0;
  }
}
#front-end-web-developer h2 {
  font-size: 110%;
  margin: 0.2em 0;
}
#front-end-web-developer ul {
  margin-top: 0.2em;
  padding-left: 1.3em;
}
#front-end-web-developer li {
  display: block;
  font-size: 75%;
  text-transform: uppercase;
}
#front-end-web-developer li a {
  font-size: 133.3333%;
  font-weight: bold;
  margin-left: 0.5em;
  text-transform: none;
}

@media only screen and (min-width: 900px) {
  #summary {
    clear: both;
  }
}

#experience h3 {
  margin-bottom: 0;
}
#experience .level3 p {
  margin-top: 0;
}
