// Pygments colors
.c
  color: #998
  font-style: italic

.err
  color: #a61717
  background-color: #e3d2d2

.k, .o
  font-weight: bold

.cm
  color: #998
  font-style: italic

.cp
  color: #999
  font-weight: bold

.c1
  color: #998
  font-style: italic

.cs
  color: #999
  font-weight: bold
  font-style: italic

.gd
  color: #000
  background-color: #fdd
  .x
    color: #000
    background-color: #faa

.ge
  font-style: italic

.gr
  color: #a00

.gh
  color: #999

.gi
  color: #000
  background-color: #dfd
  .x
    color: #000
    background-color: #afa

.go
  color: #888

.gp
  color: #555

.gs
  font-weight: bold

.gu
  color: #800080
  font-weight: bold

.gt
  color: #a00

.kc, .kd, .kn, .kp, .kr
  font-weight: bold

.kt
  color: #458
  font-weight: bold

.m
  color: #099

.s
  color: #d14

.na
  color: #008080

.nb
  color: #0086B3

.nc
  color: #458
  font-weight: bold

.no
  color: #008080

.ni
  color: #800080

.ne, .nf
  color: #900
  font-weight: bold

.nn
  color: #555

.nt
  color: #000080

.nv
  color: #008080

.ow
  font-weight: bold

.w
  color: #bbb

.mf, .mh, .mi, .mo
  color: #099

.sb, .sc, .sd, .s2, .se, .sh, .si, .sx
  color: #d14

.sr
  color: #009926

.s1
  color: #d14

.ss
  color: #990073

.bp
  color: #999

.vc, .vg, .vi
  color: #008080

.il
  color: #099


