.level2
  +respond-to(large-screen)
    margin-bottom: 4em
    // margin-left: 4em
    // h2
      // margin-left: -2.352941em

.level3
  +respond-to(large-screen)
    ul
      +columns(17em 3)
      li
        display: block
      strong
        display: block
        position: relative
        &:before
          content: '>'
          display: block
          height: 1em
          width: 1em
          position: absolute
          top: 0
          left: -2em
          overflow: hidden

#front-end-web-developer
  background: #f3f3f3
  +border-radius(16px)
  margin-left: 0
  padding: 1em 0 0.5em 2%
  width: 21.5em
  +respond-to(large-screen)
    +border-top-radius(0)
    float: right
    margin-bottom: 0
  h2
    font-size: 110%
    margin: 0.2em 0
  ul
    margin-top: 0.2em
    padding-left: 1.3em

#summary
  +respond-to(large-screen)
    clear: both

#experience
  h3
    margin-bottom: 0
  .level3
    p
      margin-top: 0

